[submodule "bgfx"]
	path = bgfx
	url = git@github.com:MSylvia/bgfx.git
[submodule "bx"]
	path = bx
	url = git@github.com:MSylvia/bgfx-bx.git
[submodule "bimg"]
	path = bimg
	url = git@github.com:MSylvia/bgfx-bimg.git
